body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    border-color: 2rem solid red;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 1rem;
    text-align: right;
  }

  .btn {
    border-radius: 5px;
  }

  .card {
    border-radius: 10px;
  }

  .input-field {
    background-color: white;
  }