body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Nunito;
  }
  .wrapper {
    flex: 1
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 1rem;
    text-align: right;
  }

  .custom-background {
    background: linear-gradient(to bottom, #01084e, #486374);
    min-height: 100vh;
  }
  .card-background {
    background: linear-gradient(to bottom, #131c79, #223e4f);
  }

  .intro {
    font-size: large;
  }
 
  .detail {
    font-size: medium;
  }

  .detail-name {
    font-weight: 800;
  }

  .table-title {
    font-size: large;
  }

  .task-details {
    font-size: medium;
  }