{% extends 'base.html' %} {% block content %}

<h1>{{ project.name }}</h1>

<div class="card grey darken-3 z-depth-5">
    <div class="card-background">
  <div class="card-content">
    <div class="section">
    <p class="detail"><span class="detail-name">Status:</span> {{ project.get_status_display }}</p>
    </div>
    <div class="section">
    <p class="detail"><span class="detail-name">Description:</span> {{ project.description }}</p>
    </div>
    <div class="section">
    <p class="detail"><span class="detail-name">Start Date:</span> {{ project.start_date }}</p>
    </div>
    <div class="section">
    <p class="detail"><span class="detail-name">Due By:</span> {{ project.end_date }}</p>
    </div>
  </div>
  <div class="card-action">
    <a href="{% url 'projects_update' project.id %}" class="btn green accent-3 waves-effect waves-dark hoverable z-depth-5"><i class="material-icons right">edit</i>Edit Project Details</a>
    <a href="{% url 'projects_delete' project.id %}" class="btn red waves-effect waves-dark hoverable z-depth-5"><i class="material-icons right">delete</i>Delete Project</a>
  </div>
  </div>
</div>
<h2>Your Tasks</h2>
<div class="col s6">
  <table class="centered highlight">
    <thead>
      <tr class="z-depth-5">
        <td class="center-align"><span class="table-title">Task</span></td>
        <td class="center-align"><span class="table-title">Status</span></td>
        <td class="center-align"><span class="table-title">Start Date</span></td>
        <td class="center-align"><span class="table-title">Due By<span class="table-title"></span></td>
      </tr>
    </thead>
    {% for task in project.task_set.all %}
    <tbody>
      <tr class="task-details">
        <td>{{ task.description }}</td>
        <td>{{ task.get_status_display }}</td>
        <td>{{ task.start_date }}</td>
        <td>{{ task.end_date }}</td>
        <form action="">
          <td>
            <a
              href="{% url 'tasks_update' project.id task.id %}"
              class="btn-floating btn-small green accent-3 hoverable"
              ><i class="material-icons">edit</i></a
            >
          </td>
          <td>
            <a
              href="{% url 'tasks_delete' project.id task.id %}"
              class="btn-floating btn-small red hoverable"
              ><i class="material-icons">delete</i></a
            >
          </td>
        </form>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
<div class="section">
  <hr />
</div>
<div class="section">
  <h2>Add Task</h2>
  <form action="{% url 'add_task' project.id %}" method="POST" class="black-text">
    <div>
    {% csrf_token %} {{ task_form.as_table }} 
    <div class="selected-status"></div>
    </div>
    <input type="submit" class="btn cyan accent-4 waves-effect waves-dark hoverable z-depth-5" value="Add Task" />
  </form>
</div>
<script>
  const startDate = document.getElementById("id_start_date");
  M.Datepicker.init(startDate, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });

  const endDate = document.getElementById("id_end_date");
  M.Datepicker.init(endDate, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: false,
    autoClose: true,
  });

  const statusSelect = document.getElementById('id_status');
  M.FormSelect.init(statusSelect);

</script>


{% endblock %}
